.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.site_title {
    font-size: var(--text-xl);
    font-weight: normal;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.nav_item {
    cursor: pointer;
    font-size: var(--text-lg);
    text-decoration: none;
    color: var(--color-foreground);
}

.theme_changer{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.header_right_circle {
    border: transparent 1px solid;
    border-color: var(--color-gray);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: -60px;
    top: -60px;
}